@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.bgcolor--dark_blue {
    background-color: #142850;
}
.bgcolor--blue {
    background-color: #27496d;
}
.bgcolor--green {
    background-color: #00909e;
}
.bgcolor--light_grey {
    background-color: #dae1e7;
}
.color--dark_blue {
    color: #142850;
}
.color--blue {
    color: #27496d;
}
.color--green {
    color: #00909e;
}
.color--light_grey {
    color: #dae1e7;
}

html,
body {
    min-height: 100%;
}

.template {
    height: 100%;
}

.template--bitrix-support {
    font-family: 'PT Sans', sans-serif;
}

.template--bitrix-support header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.template--bitrix-support footer {
    min-height: 300px;
}

/**
header
 */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    display: block;
    line-height: 3rem;
    padding: 0 1rem;
}

section#hero {
    min-height: 100vh;
}